.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.small-dot {
  background-color: tomato;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: absolute;
  /* absolute는 가장 가까운 relative 부모를 레퍼런스 삼는다. */
  margin: -22px 0px 0px 95px;
}

.red-exclamation {
  color: tomato;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
